[submodule "rtl/vendor/pulp-platform/axi_mem_if"]
	path = rtl/vendor/pulp-platform/axi_mem_if
	url = https://github.com/pulp-platform/axi_mem_if.git
[submodule "rtl/vendor/pulp-platform/common_cells"]
	path = rtl/vendor/pulp-platform/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "rtl/vendor/pulp-platform/register_interface"]
	path = rtl/vendor/pulp-platform/register_interface
	url = https://github.com/pulp-platform/register_interface.git
